body {
    background-color: orange;
footer {
    background-color: firebrick;
       div {
           background-color:firebrick;
           font-family: 'Courier New', Courier, monospace;
           nav {
               border: 1px;
               a {
                 color: black;
               }
           }
       }
}
}